@import '../../styles.scss';

.log-out {
	background: #e74c3c;
	color: #fff;
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
}
.logo {
	img {
		max-width: 150px;
		margin-left: 20px;
		@media screen and (max-width: 768px) {
			max-width: 100px;
		}
	}
}
nav {
	position: relative;
	padding: 10px 0;
}

.oc {
	background: $black;
	color: $white;
	text-align: center;
	padding: 20px 0;
	margin-bottom: 20px;
	h2 {
		margin-bottom: 0px;
		text-transform: uppercase;
		@media screen and (max-width: 400px) {
			font-size: 24px;
		}
	}
}
