<div #hideMe class="stepper-container">

	<div class="bar"></div>
	<div *ngIf="router.url === '/step-03'" class="progress-2"></div>
	<div *ngIf="router.url === '/step-04'" class="progress-3"></div>
	<div *ngIf="router.url === '/step-05'" class="progress-4"></div>
	<div *ngIf="router.url === '/step-06'" class="progress-5"></div>
	<div *ngIf="router.url === '/step-07'" class="progress-6"></div>
	<div *ngIf="router.url === '/step-08'" class="progress-7"></div>
	<div *ngIf="router.url === '/step-09'" class="progress-8"></div>

	<!-- Step 01 (Update Info) -->
	<div class="stepper-each" #step01>
		<div class="step">
			1
		</div>
		<div class="stepper-txt">
			Update Info
		</div>
	</div>
	
	<!-- Step 02 (Important Info) -->
	<div class="stepper-each" #step02>
		<div class="step">
			2
		</div>
		<div class="stepper-txt">
			Important Info
		</div>
	</div>

	<!-- Step 03 (Health Insurance) -->
	<div class="stepper-each"  #step03>
		<div class="step">
			3
		</div>
		<div class="stepper-txt">
			Health Insurance
		</div>
	</div>

	<!-- Step 04 (Safety Video) -->
	<div class="stepper-each" #step04>
		<div class="step">
			4
		</div>
		<div class="stepper-txt">
			Safety Video
		</div>
	</div>

	<!-- Step 05 (Register Now) -->
	<div class="stepper-each" #step05>
		<div class="step">
			5
		</div>
		<div class="stepper-txt" #txtActive>
			Register Now
		</div>
	</div>

	<!-- Step 06 (Commitment) -->
	<div class="stepper-each" #step06>
		<div class="step">
			6
		</div>
		<div class="stepper-txt" #txtActive>
			Commitment
		</div>
	</div>

	<!-- Step 07 (Tentmate) -->
	<div class="stepper-each" #step07>
		<div class="step">
			7
		</div>
		<div class="stepper-txt">
			Tentmate
		</div>
	</div>

	<!-- Step 08 (Summary) -->
	<div class="stepper-each" #step08>
		<div class="step">
			8
		</div>
		<div class="stepper-txt">
			Summary
		</div>
	</div>
</div>
