@import '../../styles.scss';

#step-06 {
  .form-container {
    h3 {
      text-align: center;
      margin-bottom: 30px;
    }
  }
}

.mat-radio-button {
	display: block;
}
.bottom-nav-row {
	margin-top: 40px;
}
