<h1 *ngIf="dataService" mat-dialog-title class="dialog-h1">
  Welcome to Online Check-in, {{dataService.firstName}}!
</h1>

<div mat-dialog-content>

  <p>
    This automated check-in process is designed to save you time and make event check-in easier than ever! Here is what you'll need to do:
  </p>
  <ul>
    <li>
      Review your online profile now by clicking <span (click)="onNoClick()">here</span>. You will need to complete this step first to confirm the mailing address for your Rider packet.
    </li>
    <li>
      Enter your emergency contact information.
    </li>
    <li>
      Watch a safety video.
    </li>
    <li *ngIf="dataService.participationType !== 'Crew'">
      Use your credit card to make an instant or delayed self-pledge if you have not reached the fundraising minimum.
    </li>
  </ul>

  <p *ngIf="dataService.participationType !== 'Crew'">
    Your event materials will be mailed to you if you complete Online Check-In by [DATE]. After this date, your event materials will be available for pickup on event the morning of June 9th.
  </p>
  <p *ngIf="dataService.participationType !== 'Crew'">
    We are able to mail check-in packets only to Canadian addresses.  If you live outside Canada, your packet will be available for easy pick-up on the Saturday morning of event weekend.
  </p>

  <span *ngIf="dataService">
		<p *ngIf="dataService.participationType === 'Crew'"><strong>CREW ONLY:</strong> Your event materials will be ready for you to pick up at the All Crew Meeting on Friday evening June 9th. Please review our Crew & Volunteer page for more details.</p>
	</span>

  <button color="primary" mat-raised-button (click)="onNoClick()">Close</button>
</div>
