<app-stepper></app-stepper>

<!-- Preloader -->
<div class="mat-spinner-container" *ngIf="!dataService">
	<div class="spinner-inner">
		<mat-spinner></mat-spinner>
	</div>
</div>

<!-- Begin Step 02 -->
<div class="container" id="step-02" *ngIf="dataService">

	<div class="row">
		<div class="col-12">
			<div class="pg-container">
				<h3>Update Your Information</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nisl magna, lacinia eget eros vitae, tincidunt consectetur neque. Suspendisse eu justo eleifend, vulputate lectus interdum, vestibulum libero.
				</p>
			</div>
		</div>
	</div>
	<div class="row" *ngIf="consData">
		<form class="form-container" [formGroup]="step02Form" *ngIf="step02Form">
			<div class="form-group">
        <p>You are registered as a <strong>{{ dataService.participationType }}</strong>. If this is incorrect, please call
          <a class="link-black" href="tel:1-888-771-2453">1 (888) 771-2453</a></p>
			</div>
			<div class="form-group" *ngIf="dataService.teamName">
				<label class="font-bold" for="team-name">
					Team name: {{ dataService.teamName }}
				</label>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<mat-form-field class="mat-input">
						<input
							matInput
							required
							placeholder="First name:"
							value="{{firstName}}"
							[(ngModel)]="firstName"
							formControlName="firstName">
						<button mat-button *ngIf="firstName" matSuffix mat-icon-button aria-label="Clear" (click)="firstName=''">
						    <mat-icon>close</mat-icon>
						</button>
						<mat-error *ngIf="step02Form.controls.firstName.invalid">
					    	First name is required.
					    </mat-error>
					</mat-form-field>
				</div>
				<div class="form-group col-md-6">
					<mat-form-field class="mat-input">
						<input
							matInput
							required
							placeholder="Last name:"
							value="{{lastName}}"
							[(ngModel)]="lastName"
							formControlName="lastName">
						<button mat-button *ngIf="lastName" matSuffix mat-icon-button aria-label="Clear" (click)="lastName=''">
						    <mat-icon>close</mat-icon>
						</button>
						<mat-error *ngIf="step02Form.controls.lastName.invalid">
					    	Last name is required.
					    </mat-error>
					</mat-form-field>
				</div>
			</div>
			<div class="form-group">
				<mat-form-field class="mat-input">
					<input
						matInput
						required
						placeholder="Street Address Line 1:"
						value="{{primaryAddress1}}"
						[(ngModel)]="primaryAddress1"
						formControlName="liveAddress1">
					<button mat-button *ngIf="primaryAddress1" matSuffix mat-icon-button aria-label="Clear" (click)="primaryAddress1=''">
					    <mat-icon>close</mat-icon>
					</button>
					<mat-error *ngIf="step02Form.controls.liveAddress1.invalid">
				      Street address is required.
				    </mat-error>
				</mat-form-field>
			</div>
			<div class="form-group">
				<mat-form-field class="mat-input">
					<input
						matInput
						placeholder="Street Address Line 2:"
						value="{{primaryAddress2}}"
						[(ngModel)]="primaryAddress2"
						formControlName="liveAddress2">
					<button mat-button *ngIf="primaryAddress2" matSuffix mat-icon-button aria-label="Clear" (click)="primaryAddress2=''">
					    <mat-icon>close</mat-icon>
					</button>
				</mat-form-field>
			</div>
			<div class="form-group">
				<mat-form-field class="mat-input">
					<input
						matInput
						required
						placeholder="City"
						value="{{primaryCity}}"
						[(ngModel)]="primaryCity"
						formControlName="liveCity">
					<button mat-button *ngIf="primaryCity" matSuffix mat-icon-button aria-label="Clear" (click)="primaryCity=''">
					    <mat-icon>close</mat-icon>
					</button>
					<mat-error *ngIf="step02Form.controls.liveCity.invalid">
				      City is required.
				    </mat-error>
				</mat-form-field>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<mat-form-field class="mat-input">
						<input
							matInput
							required
							placeholder="State/Province"
							value="{{primaryState}}"
							[(ngModel)]="primaryState"
							formControlName="liveState">
						<button mat-button *ngIf="primaryState" matSuffix mat-icon-button aria-label="Clear" (click)="primaryState=''">
						    <mat-icon>close</mat-icon>
						</button>
						<mat-error *ngIf="step02Form.controls.liveState.invalid">
					      State is required.
					    </mat-error>
					</mat-form-field>
				</div>
				<div class="form-group col-md-6">
					<mat-form-field class="mat-input">
						<input
							matInput
							required
							placeholder="Zip"
							value="{{primaryZip}}"
							[(ngModel)]="primaryZip"
							formControlName="liveZip">
						<button mat-button *ngIf="primaryZip" matSuffix mat-icon-button aria-label="Clear" (click)="primaryZip=''">
						    <mat-icon>close</mat-icon>
						</button>
						<mat-error *ngIf="step02Form.controls.liveState.invalid">
					      Zipcode is required.
					    </mat-error>
					</mat-form-field>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-12">
					<p>
						<strong>Please select your gender:</strong>
					</p>
					<mat-radio-group class="route-radio-group" formControlName="genderSelect" [(ngModel)]="gender">
							<mat-radio-button
								class="route-radio-button"
								color="primary"
								*ngFor="let gender of matSelect"
								[value]="gender.value">
								{{gender.viewValue}}
							</mat-radio-button>
							<mat-error *ngIf="step02Form.controls.liveState.invalid">
								Gender is required.
							</mat-error>
					</mat-radio-group>
				</div>
			</div>
		</form>
	</div>

  <div class="form-container">
    <div class="border-btm"></div>
  </div>

	<div class="row" *ngIf="consData">
		<div class="col-12">
			<div class="btn-container">
				<button mat-raised-button color="primary" class="next-btn" (click)="updateUser()" [disabled]="step02Form.invalid">
					Next
				</button>
				<a (click)="updateUserSave()" class="save-later float-right text-uppercase">Save For Later</a>
			</div>
		</div>
	</div>
</div>
